:root {
  --bg-primary: #323339;
  --bg-secondary: #2c2d32;
  --border: #3e3f45;
  --highlight: #414248;
  --text: #f2f2f2;
}

* {
  user-select: none;
}

p {
  margin: 0;
  padding: 0;
}

main *,
main {
  user-select: text;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  background: var(--bg-primary);
  color: var(--text);
}
