:root {
  --bg-primary: #1e1e2e;
  --bg-secondary: #181825;
  --border: #313244;
  --highlight: #313244;
  --text: #cdd6f4;
}

* {
  user-select: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #89b4fa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main *,
main {
  user-select: text;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  background: var(--bg-primary);
  color: var(--text);
}
