:root {
  --win-gray: #c0c0c0;
  --win-dark: #404040;
  --win-shadow: #808080;
  --win-white: #ffffff;
  --win-black: #000000;
}

body {
  background-image: url("/bg.gif");
  background-repeat: repeat;
  background-size: auto;
}
