---
import Layout from "../layouts/Layout.astro";

const links = [
  {
    name: "Steam",
    url: "https://steamcommunity.com/id/azawat/",
  },
  { name: "GitHub", url: "https://github.com/azawat7/" },
  {
    name: "Valorant Tracker",
    url: "https://tracker.gg/valorant/profile/riot/aza%23wat/overview",
  },
  {
    name: "Letterboxd",
    url: "https://letterboxd.com/awza/"
  },
  {
    name: "MyAnimeList",
    url: "https://myanimelist.net/profile/azawat"
  },
  {
    name: "MyDramaList",
    url: "https://mydramalist.com/profile/azawat",
  }
];
---

<Layout title="azawat">
    <h1>azawat's linktree</h1>
    <ul>
      {
        links.map(({ name, url }) => (
          <li>
            <a href={url} target="_blank">
              <span>{name}</span>
            </a>
          </li>
        ))
      }
    </ul>
</Layout>

<style>
  h1 {
    margin-top: 30px;
  }
</style>