---
import Layout from "../layouts/Layout.astro";

const links = [
  {
    name: "steam",
    url: "https://steamcommunity.com/id/azawat/",
    username: "azawat",
  },
  { name: "github", url: "https://github.com/azawat7/", username: "azawat7" },
  {
    name: "valorant",
    url: "https://tracker.gg/valorant/profile/riot/aza%23wat/overview",
    username: "aza#wat",
  },
  {
    name: "faceit",
    url: "https://www.faceit.com/en/players/azawat7",
    username: "azawat7",
  },
];
---

<Layout title="home">
    <ul>
      {
        links.map(({ name, url, username }) => (
          <li>
            <a href={url} target="_blank">
              <span class="link-name">{name}</span>
              {username}
            </a>
          </li>
        ))
      }
    </ul>
</Layout>

<style>
  .link-name {
    display: inline-block;
    width: 10ch;
    font-family: monospace;
  }
</style>
