---
import Message from "../components/Message.astro";
import MessageSeparator from "../components/MessageSeparator.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <MessageSeparator label="11 April, 2026" />
  <Message avatar="favicon.ico" , date="11/04/2026 03:45" , name="azawat">
    <h1>T</h1>
    <h2>T</h2>
    <h3>T</h3>
    <ul>
      <li>t</li>
      <li>t</li>
      <li>t</li>
      <li>t</li>
    </ul>
    <ol>
      <li>t</li>
      <li>t</li>
      <li>t</li>
      <li>t</li>
    </ol>
    <p>t</p>
  </Message>
</Layout>
