---
import Message from "../components/Message.astro";
import MessageSeparator from "../components/MessageSeparator.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="projects">
  <MessageSeparator label="2026" />
  <Message avatar="/favicon.ico" date={`2026`} name="azawat">
    <h1>
      <a href="https://github.com/azawat7/kbrelay-app" target="_blank"
        >kbrelay-app</a
      >
    </h1>
    <p>
      Desktop app that intercepts keystrokes at the driver level and relays them
      over TCP.
    </p>

    <h1>
      <a href="https://github.com/azawat7/kbrelay-mcmod" target="_blank"
        >kbrelay-mcmod</a
      >
    </h1>
    <p>
      Fabric client mod that relays keyboard inputs into Minecraft over TCP.
    </p>
  </Message>
</Layout>
